* {
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin: 0px auto;
    /* background-image: url("images/diary.jpg"); */
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 80px;
    border-radius: 6px;
}

h1:hover {
    color: gold;
    transition:  600ms ease-in-out;
}

li {
    display: block;
    margin-top: 8px;
    border: 0.5px solid;
    padding: 10px;
    border-radius: 0.625rem;
}

#list--item {
    width:  400px;
    padding: 1rem;
    font-weight: bold;
    font-size: 0.875rem;
    border: 0.5px solid black;
    border-radius: 0.625rem;
}

#addBtn {
    position: relative;
    left: 1.875rem;
    line-height: 1.875rem;
    width: 60px;
    padding: 12px;
    border: none;
    border-radius: 50%;
    font-size: 1.875rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background: gold;
    box-shadow: 2px 2px 8px rgb(66, 91, 92);

}

#addBtn:hover {
    transform: scale(1.1);
}